html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 
img {
    width: 100%;
    height: 100%;
 }
.gif {
    background-image: image("caterpillar.gif");
    background-size: cover;
}
.link {
    text-align: center;
    font-size: 128pt;
}
.button {
    margin: 20px 0px 20% 20%;
    border: 2px solid red;
    display: inline-block;
}